body{
    width: 90%;
    margin: auto;
    background: radial-gradient(rgb(187, 149, 25), rgb(29, 20, 90));
    background-image:url(field.jpg);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 100%;
    background-size: cover;
}
header>h1{
    background-color: yellow;
}
h1+p{
    font-weight: bold;
}
h1{
    color: darkblue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a:link, a:visited {
    color: darkblue;
    text-decoration: underline;
    font-style: oblique;
  }
a:hover, a:active {
    color: rgb(7, 84, 252);
    text-decoration: none;
    font-weight: bold;
  }
img{
    float: left;
    margin-right: 100px;
    margin-bottom: 100px;
}
h2{
    color: darkblue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    clear: left;
}
iframe{
    clear: left;
    display: block;
    margin: 0 auto;
}
p{
    color: darkblue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    word-spacing: 3px;
}
q{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 160%;
  font-style: italic;
  background-color: rgb(207, 205, 205);
  border-left: 3px dashed rgb(109, 108, 108);
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 80px;
  margin-bottom:  80px;
  border-radius: 25px;
}
.villagers{
    border-left: 3px dashed green;
}
.farmer{
    border-left: 3px dashed yellow;
}
.good,.bad{
    text-transform: capitalize;
}
.bad{
    color: red;
}
.good{
    color: green;
}
table, th, td {
    border: 1px solid black;
  }
table{
    width: 100%;
}
tr:nth-child(odd){
    background-color: grey;
}
tr:nth-child(even){
    background-color: white;
}
